@tailwind base;
@tailwind components;
@tailwind utilities;

*, ::after, ::before{
    box-sizing: border-box;
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background: #000;
}